---
layout: null
title: Computing For Good 2018
description: We are having a hackathon
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
  Jekyll integration by somiibo.com
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<h2>By NUS Varsity Christian Fellowship</h2>
						<p></p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">Join us to use your computing skill for good</a></h2>
									<p></p>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="" /></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut nulla dolor. Nunc id dictum mauris, sit amet pellentesque odio. Fusce varius nunc nulla, in finibus metus feugiat eu. Quisque in erat venenatis, fermentum ipsum in, interdum nunc. Donec vel ante pretium, lobortis nibh a, rhoncus urna. Praesent convallis interdum sodales. Integer quis augue et dolor ultrices aliquam. Nam suscipit purus a tortor convallis cursus. Sed nec velit eget turpis aliquet molestie. Nullam pellentesque dui sit amet urna mollis, id consectetur ipsum finibus. Nunc ultrices urna in lorem interdum commodo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                                 <footer>
                     <ul class="actions">
                       <li><a href="{{$SIGN_UP_LINK}}" class="button">REGISTER HERE</a></li>
                     </ul>
                                </footer>

							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:4 %}
                {% assign mod3 = forloop.index | modulo: 4 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>

                {% endfor %}

							</section>

						<!-- Footer -->


					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
