<ul class="links">
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/problem/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Problem Statements</a></li>
  <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Contact</a></li>
</ul>
