<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
  Jekyll integration by somiibo.com
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}
					</nav>

				<!-- Main -->
				<div id="main">

          <article class="post featured">
            <header class="major">
              <h2><a href="#">Problem Statements</a></h2>
              <p>Here are some problems faced by our NGOs.</p>
							</p>
            </header>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et condimentum nulla. In eros felis, porttitor eu eleifend vel, blandit quis enim. Aliquam pretium eros ut leo sagittis luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In quis aliquam urna. Sed commodo lectus et sapien tincidunt, nec vehicula ipsum venenatis. Maecenas tempus nibh nisl, vel gravida felis auctor at. Aliquam semper rutrum ex pellentesque accumsan.
						<p>
						</p>
							Morbi dictum ipsum id diam vestibulum dapibus. Etiam in ipsum sit amet sem placerat placerat. Quisque ut felis non ligula venenatis finibus. Phasellus ultrices mollis mauris at suscipit. Donec porta lacus tempus, blandit arcu eget, ultricies diam. Quisque eget mi vel mauris pulvinar convallis. Nunc in eros est. Nulla facilisi. Cras viverra erat eget sem dictum, in varius est congue.
						</p>

          </article>
					<!-- Post -->
					<section class="posts">
						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 4 %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
								</ul>
							</article>
						{% endfor %}
					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
