<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
  Jekyll integration by somiibo.com
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
    {% include head.html %}
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
        <header id="header">
          <a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
        </header>

				<!-- Nav -->
					<nav id="nav">
            {% include nav.html %}
						</ul>
					</nav>

				<!-- Main -->
				<div id="main">
          <section class="post">
    				<header class="major">
      				<span class="date">{{page.date | date_to_string}}</span>
      				<h1>{{page.title}}</h1>
      				<p>{{page.excerpt}}</p>
      			</header>
      			<div class="image main"><img src="{{page.image}}" alt=""></div>
      			<p>{{content}}</p>
      		</section>

					<!-- Footer -->
						<footer>
              <ul class="actions">
                <li><a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a></li>
              </ul>
						</footer>
					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

      <!-- Scripts -->
  		{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
